header {
  position: relative;
  a{
    color: white;
    text-decoration: none;
  }
  .vhod{
    margin-left: 10px;
  }
}


.header1 {
  background-color: #22275F;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.header1 section {
  display: flex;
  align-items: center;
  width: 100%;
}

.header1 .phone {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header2 .logo img {
  height: 40px; 
}

.navigation {
  display: flex; 
}

.navigation a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.burger {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .header2 {
    flex-direction: row; 
    align-items: center; 
  }

  .navigation {
    display: none; 
    flex-direction: column;
    position: absolute;
    background-color: #22275F;
    width: 100%;
    top: 50px; 
    left: 0;
    z-index: 10;
  }

  .navigation.active {
    display: flex; 
  }

  .burger {
    display: flex; 
    margin-left: auto; 
  }
}
